body{
    background-color: #f57bac;
    margin: 20px;
}
h1{
    color:#b11664;
    text-align: center;
}
p{
    color:#b11664
    font-size: 18px;
    text-align: center;
}
body{
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    background-color: #ee74bd;
    color: #b11664;
    margin: 20px;
}
